@using AlgoBotBackend.Models.ViewModels

@model AddPaymentViewModel

@{
    ViewData["Title"] = "Добавить оплату";
}

<h1>Добавить оплату</h1>

<div class="row">
    <div asp-validation-summary="All" class="col-md-4">
        <form asp-action="CreatePayments" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile02">Оплаты</label>
                <input asp-for="Payments" type="file" class="form-control" id="inputGroupFile02" accept=".csv">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Ученики</label>
                <input asp-for="Students" type="file" class="form-control" id="inputGroupFile01" accept=".csv">
            </div>
            <div class="form-group">
                <input type="submit" value="Загрузить" class="btn btn-outline-secondary" />
            </div>
        </form>
    </div>
</div>
<br />